<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>关于我</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
  <link rel="stylesheet" href="../static/css/me.css">
</head>
<body class="aboutme-bg">

  <!--导航-->
  <nav th:replace="_fragments :: menu(5)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small" >
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>

  <!--中间内容-->
  <div  class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">

      <div class="ui stackable grid">
        <div class="eleven wide column">
          <div class="ui segment">
            <img src="./images/me.png" alt="" class="ui rounded image">
          </div>
        </div>
        <div class="five wide column">
          <div class="ui top attached segment">
            <div class="ui green header">关于我</div>
          </div>
          <div class="ui attached segment">
            <p class="m-text">我叫黄鹏，一个大三的Java后端菜鸟。</p>
            <p class="m-text">热爱编程，喜欢折腾，正在探索高效学习编程技术的方法...</p>
          </div>
          <div class="ui attached segment">
            <div class="ui orange basic left pointing label">编程</div>
            <div class="ui orange basic left pointing label">写作</div>
            <div class="ui orange basic left pointing label">思考</div>
            <div class="ui orange basic left pointing label">运动</div>
          </div>
          <div class="ui attached segment">
            <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringCloud</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringBoot</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">SSM</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">MYSQL</div>
            <div class="ui teal basic left pointing label m-margin-tb-tiny">...</div>
          </div>
          <div class="ui bottom attached segment">
            <a href="#" class="ui wechat circular icon button"><i class="wechat icon"></i></a>
            <a href="#" class="ui qq circular icon button" data-content="1343699796" data-position="bottom center"><i class="qq icon"></i></a>
              <a href="#" target="_blank" class="ui github circular icon button" data-content="点击跳转GitHub" data-position="bottom center"><i class="github icon"></i></a>
            <a href="https://blog.csdn.net/weixin_44824500" target="_blank" class="ui csdn circular icon button" data-content="点击跳转CSDN" data-position="bottom center"><i class="copyright outline icon"></i></a>
          </div>

          <div class="ui qq-qr flowing popup transition hidden">
            <img src="../static/images/qq.jpg"  alt="" th:src="@{/images/qq.jpg}" class="ui rounded image" style="width: 110px">
            <div align="center">QQ</div>
          </div>

          <div class="ui wechat-qr flowing popup transition hidden">
            <img src="../static/images/wechat.jpg" alt="" th:src="@{/images/wechat.jpg}"  class="ui rounded image" style="width: 110px">
            <div align="center">微信</div>
          </div>

          </div>
      </div>

    </div>
  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:replace="_fragments :: footer" class="ui inverted vertical segment m-padded-tb-massive">

  </footer>
  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <!--/*/</th:block>/*/-->

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
    //显示微信
    $('.wechat').popup({
      popup : $('.wechat-qr'),
      position: 'bottom center'
    });
    // 显示QQ
    $('.qq').popup({
      popup : $('.qq-qr'),
      position: 'bottom center'
    });
    // 显示CSDN
    $('.csdn').popup();
    // 显示github
    $('.github').popup();
  </script>
</body>
</html>